
@{
    ViewBag.Title = "Main";
    if (Session["UserKey"] == null)
    {
        Response.Redirect("~/Users/Login");
    }
}

<h2>Main</h2>

<p>
    ------------------------------------------ Content ------------------------------------------
    ------------------------------------------ Content ------------------------------------------
    ------------------------------------------ Content ------------------------------------------
    ------------------------------------------ Content ------------------------------------------
    ------------------------------------------ Content ------------------------------------------
    ------------------------------------------ Content ------------------------------------------
    ------------------------------------------ Content ------------------------------------------
    ------------------------------------------ Content ------------------------------------------
</p>